.wrapper {
   margin-top: 20px;
  .text {
    text-align: left;
    height: 260px;
  }
  .content-left {
    border-right: 1px solid cornflowerblue;
  }
  .btns {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
